{% extends "base.html" %}

{% block content %}
    <h1>
      Tags
      <a style="float: right" href="{% url "todo:tag-create" %}">
        <button class="btn-primary" style="border-radius: 5px">Add</button>
      </a>
    </h1>
    {% if tag_list %}
      <table class="table">
        <tr>
          <th>Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>

        {% for tag in tag_list %}
          <tr>
            <td>
              {{ tag.name }}
            </td>
            <td>
              <a href="{% url "todo:tag-update" pk=tag.id %}">
                <button style="background: dimgrey; color: white; border-radius: 8px">Update</button>
              </a>
            </td>
            <td>
              <a href="{% url "todo:tag-delete" pk=tag.id %}">
                <button style="background: dimgrey; color: white; border-radius: 5px">Delete</button>
              </a>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
    <p>There are no tags for now!</p>
    {% endif %}
{% endblock %}
