{% extends "base.html" %}
{% block content %}
  <h1 class="card-title">TODO LIST

  <a style="float: right" href="{% url "todo:task-create" %}">
    <button class="btn-primary" style="border-radius: 8px">Add task</button>
  </a>
  </h1>
  <br>
  <br>
  {% for task in task_list %}
    <p><strong>{{ task.content }}</strong>
    {% if task.is_done %}
      <strong style="color: green">Done</strong>
     {% else %}
      <strong style="color: red">Not Done</strong>
    {% endif %}
    <a style="float: right" href="">
        {% if task.is_done %}
          <a href="" style="float: right">
            <button onclick="{{ task.is_done }}" style="background: dimgrey; color: white; border-radius: 8px">Undo</button>
          </a>
        {% else %}
          <button style="background: green; color: white; border-radius: 8px">Complete</button>
        {% endif %}
    </a>
    </p>
    <p>Created: {{ task.created_date }}
      {% if task.deadline %}
        Deadline: {{ task.deadline }}
      {% endif %}
    </p>
    Tags:
    {% for tag in task.tags.all %}
      <a href="{% url "todo:tag_list" %}">{{ tag.name }}</a>
    {% endfor %}
    <a href="{% url "todo:task-update" pk=task.pk %}">
      <strong>Update</strong>
    </a>
    <a href="{% url "todo:task-delete" pk=task.pk %}">
      <strong>Delete</strong>
    </a>
    <hr id="line">
  {% endfor %}

{% endblock %}
